/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.radial-overlay {
    position: absolute;
    top: 10.5vh;
    left: 1vw;
    height: 35vh;
    background: radial-gradient(circle, rgb(54, 54, 54) 10%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    border-radius: 100%;
}

.gradient-text {
    background: linear-gradient(to bottom, transparent, #C0C0C0); /* Transparent to white */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.radial-overlay2 {
    position: absolute;
    top: 0vh;
    left: 71vw;
    height: 35vh;
    background: radial-gradient(circle, rgb(5, 88, 20) 10%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    border-radius: 100%;
}

.radial-overlay3 {
    position: absolute;
    top: 50vh;
    left: 55vw;
    height: 35vh;
    background: radial-gradient(circle, rgb(70, 25, 125) 10%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    border-radius: 100%;
}

.logo{
  
}
  .fade-text {
  position: relative;
    
    color: white; 
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }